{% extends 'base.html.twig' %}


{% block title %}
    Bienvenue sur Gofree
{%  endblock  %}

{%  block body %}



    <div class="container">

        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur Gofree</h1>
            <p class="lead">Gofree vous propose des missions dans les domaines informatique , publicitaire et dans la communication.</p>
            <hr class="my-4">
            <p>Vous etes freelanceur ? Et vous voulez voir ou vous pourrez travailler pour votre prochaine mission ?.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('missions_index') }}" role="button">Voir nos missions</a>
            </p>
        </div>


        <h2 class="h1 mt-3 mb- 4">Nos missions récente!</h2>

        <div class="row">
            {% for data in miss%}

                {% include 'missions/_miss.html.twig' with {'miss': data.mission} %}


            {% endfor %}

        </div>

    </div>

{% endblock %}


